package pages

import (
	"fmt"
	"homedb/internal/views/components"
)

templ Error(status int, err error, isLoggedIn bool) {
	@components.Layout(fmt.Sprintf("%d - %s", status, err.Error()), isLoggedIn) {
		<p>{ err.Error() }</p>
		if status == 401 || status == 403 {
			<p>
				<a href="/login">Einloggen</a> oder <a href="/signup">Registrieren</a>
			</p>
		}
	}
}
