package components

templ FormInput(typ, name, label, placeholder, value string) {
	<div>
		<label for={ name }>{ label }</label>
		<input type={ typ } name={ name } id={ name } placeholder={ placeholder } value={ value }/>
	</div>
}
