package components

templ Select(name, placeholder string, values map[string]string) {
	<div>
		<select name={ name } id={ name }>
			if placeholder != "" {
				<option value="">{ placeholder }</option>
			}
			for k, v := range values {
				<option value={ k }>{ v }</option>
			}
		</select>
	</div>
}
