package components

templ Select(name, selected string, values map[string]string) {
	<div>
		<select name={ name } id={ name }>
			for k, v := range values {
				<option value={ k } selected?={ selected == k }>{ v }</option>
			}
		</select>
	</div>
}
