package components

templ FormInput(typ, name, label, placeholder, value string) {
	<fieldset class="fieldset">
		<legend class="fieldset-label">{ label }</legend>
		<input type={ typ } name={ name } id={ name } placeholder={ placeholder } value={ value } class="input"/>
	</fieldset>
}
