package pages

import "homedb/views/components"
import "strconv"

templ Error(status int, err error) {
	@components.Layout(strconv.Itoa(status)) {
		<p>{ err.Error() }</p>
		if status == 401 || status == 403 {
			<p>
				<a href="/login">Login</a> or <a href="/signup">Signup</a>
			</p>
		}
	}
}
