package pages

import "homedb/views/components"
import "fmt"

templ Error(status int, err error) {
	@components.Layout(fmt.Sprintf("%d - %s", status, err.Error())) {
		<p>{ err.Error() }</p>
		if status == 401 || status == 403 {
			<p>
				<a href="/login">Login</a> or <a href="/signup">Signup</a>
			</p>
		}
	}
}
