package pages

import "homedb/views/components"

templ Login(err error) {
	@components.Layout("Login") {
		<form action="/login" method="post">
			@components.FormInput("text", "username", "Username", "")
			@components.FormInput("password", "password", "Password", "")
			<button type="submit">Login</button>
		</form>
	}
}
